# Exclude PyCharm IDE settings:
.idea
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
taxi_zones/taxi_zones.shx
taxi_zones/taxi_zones.shp.xml
taxi_zones/taxi_zones.shp
taxi_zones/taxi_zones.sbx
taxi_zones/taxi_zones.sbn
taxi_zones/taxi_zones.prj
taxi_zones/taxi_zones.dbf
taxi/Yellow_Taxi_Trip_Data_9_2018.csv
taxi/Yellow_Taxi_Trip_Data_8_2018.csv
taxi/Yellow_Taxi_Trip_Data_7_2018.csv
taxi/Yellow_Taxi_Trip_Data_6_2018.csv
taxi/Yellow_Taxi_Trip_Data_5_2018.csv
taxi/Yellow_Taxi_Trip_Data_4_2018.csv
taxi/Yellow_Taxi_Trip_Data_3_2018.csv
taxi/Yellow_Taxi_Trip_Data_2_2018.csv
taxi/Yellow_Taxi_Trip_Data_1_2018.csv
taxi/Yellow_Taxi_Trip_Data_12_2018.csv
taxi/Yellow_Taxi_Trip_Data_11_2018.csv
taxi/Yellow_Taxi_Trip_Data_10_2018.csv
cache/ba47c827960c50922bdb6428cf4fc85613cc2d6a.json
cache/a024d0081b2c2475e8a73803fb99130566b3ac79.json
cache/9cdec018cab1b1332c2b609dde0dba57380a7d77.json
cache/9c80cd51d6105028f0382b3961ccc055ed7bcbed.json
cache/5bde3b63b71fe6aee63fb693570d20aea8f40dbd.json
cache/399699cfab28190b02ba5be9c8e8053ffa985e77.json
cache/2144358ac565868aebddb144637c41ff90813d58.json
cache/19b0b04851b5d60248ced0897952f749878cc737.json
cache/0faba3b6af5e9848f495d96c1971c564c9a3fbde.json
.DS_Store
